body,h1,img{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;;
}

a{
    text-decoration: none;
    color:#2E4F21;

}

ul{
    list-style: none;
}

.navegacao-flex{

    display: flex;
    background-color: #A0F1BD;
    padding: 12px;
    justify-content: center;
    gap:10px;
    font-size: 16px;

}

.botao-solicite {
    padding: 12px;
    background-color: #2E4F21;
    border-radius: 8px;
    color: #ffffff;
}

.navegacao-botoes{
    display: flex;
    gap: 20px;
    margin-right: 32px;
}

.botao-solicite:hover{

    background-color: #2e4f21e6;
}

/* section world */

.grid-layout {
    background-color:#A0F1BD;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
}

.grid-layout h1{

    font-size: 48px;
    color:#2E4F21;
}

.text-home{
    padding: 80px;
    display: grid;
    gap:40px;
}

.text-home p {
        font-size: 16px;

}

.world-animation{

  animation: flutuar 2s ease-in-out infinite;

}

@keyframes flutuar {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.text-home .botao-solicite{
    max-width:200px;
    text-align: center;
    margin: 4px;
    border-radius: 18px;
}

/*services*/

.services-grid{
    display: grid;
    justify-content: center;
    text-align: center;
    padding:80px
}

.services-grid h2{
    font-size: 60px;
    margin:0;
    color: #2E4F21;
}

.services-grid .botao-solicite{
    text-align: center;
    margin: 4px;
    padding: 8px 32px;
    border-radius: 18px;
    justify-self: center;
}

/* bloco geral */

.grid-bloco-geral{
    display: grid;
    gap: 40px;
    background-color: #cbcbcb23;
}

/* blocos */

.bloco-1-grid,
.grid-bloco-2,
.grid-bloco-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin-left: 30px;
    padding: 60px;
    border-radius: 40px;
    background: #D2F8DC;
}

.botoes-bloco-1,
.botoes-bloco-2{
    display: flex;
    gap:20px;
    margin-top: 72px;
}

.botoes-bloco-1 a,
.botoes-bloco-2 a{
    background-color: #ffffff;
    border-radius: 4px 8px;
    padding: 8px 16px;
}

.botoes-bloco-1 a:hover,
.botoes-bloco-2 a:hover{
    background-color: #a0f1bca2;
    cursor:default;
}

.texto-bloco-1 h3,
.texto-bloco-2 h3{

    font-size: 42px;
    color:#2E4F21;
    margin: 0
    
}

.texto-bloco-1 p,
.texto-bloco-2 p{

    margin-top:30px;
    font-size: 16px;
}

/* bloco 2 especifico */

.grid-bloco-2{
    margin-left: 370px;
    justify-content: end;

}

.grid-bloco-2 img{
    padding-left: 80px;

}